:root {
    --color-black: #000;
    --color-grey-light: #F9F9F9;
    --color-grey: #f6f6f6;
    --color-grey-dark: #E1E1E1;
    --color-grey-darkest: #C4C4C4;
    --color-white: #fff;
    --color-purple: #9B4CEA;
    --color-blue-darkest: #0441B8;
    --color-blue-dark: #7097F9;
    --color-blue-light: #E3E9F6;
    --color-red: #EA4C68;
    --color-green: #25BE6B;

    --color-alias-header-main: var(--color-grey);
    --color-alias-list-container: var(--color-grey);
    --color-alias-input-background: var(--color-white);
    --color-alias-input-focus-background: var(--color-blue-light);
    --color-alias-quantity-excessive: var(--color-green);
    --color-alias-quantity-remaining: var(--color-purple);
    --color-alias-quantity-remaining-low: var(--color-red);
    --color-alias-quantity-unit-background: var(--color-grey-light);
    --color-alias-new-item-help-text: var(--color-blue-darkest);

    --input-border: var(--input-border-size) dashed var(--color-blue-dark);
    --primary-font-size: 18px;
    --row-gap: 23px;
    --column-gap: 13px;
    --input-padding-left: 16px;
    --input-height: 48px;
    --input-border-size: 1px;
    --list-container-width: 740px;
    --list-container-side-padding: 42px;
    --border-radius: 5px;
    --row-columns: 240px 210px 1fr;
    --edit-transition: .2s background-color ease;
    --outside-list-container-offset: 10px;
    --right-outside-list-row: calc((var(--list-container-side-padding) + var(--outside-list-container-offset)) * -1);
}

body {
    margin: 0px;
    font-family: 'Roboto', Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--color-alias-header-main);
    height: 63px;
    padding: 0 52px;
}

.header__title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    width: 202px;
    border: none;
    font-size: var(--primary-font-size);
    border: none;
    text-align: center;
}

.header__logo {
    display: flex;
    align-items: center;
    font-size: var(--primary-font-size);
    border: none;
    font-weight: normal;
    margin-right: auto;
}

.header__logo__line {
    width: 1.5px;
    height: 40px;
    margin: 0 5px;
    background-color: var(--color-black);
}

.mainContent {
    display: grid;
    justify-content: center;
}

.filters {
    display: grid;
    grid-template-columns: var(--row-columns);
    grid-gap: var(--column-gap);
    width: var(--list-container-width);
    padding: 12px var(--list-container-side-padding);
}

.filters__confirmButton {
    grid-column: 2;
    width: 100%;
    border: var(--input-border);
    background-color: var(--color-alias-input-background);
    border-radius: var(--border-radius);
    appearance: none;
    height: var(--input-height);
    font-size: var(--primary-font-size);
    color: var(--color-blue-dark);
    cursor: pointer;
}

.filters__confirmButton--hide {
    display: none;
}

/* Filter Bar */
.filterBar {
    grid-column: 3;
}

.filterBar__used {
    border: 1px solid var(--color-grey-dark);
    border-radius: var(--border-radius);
    background-color: var(--color-grey-light);
}

.filterBar__mainPercentage {
    background-color: var(--color-grey-darkest);
}

.filters__confirmButton:hover, .filters__confirmButton:focus {
    background-color: var(--color-alias-input-focus-background);
}

/* List Container */
.listContainer {
    width: var(--list-container-width);
    padding: 32px var(--list-container-side-padding);
    background-color: var(--color-alias-list-container);
    border-radius: var(--border-radius);
    list-style-type: none;
    display: grid;
    grid-gap: var(--row-gap);
    margin-top: 0;
}

.row {
    display: grid;
    position: relative;
    grid-template-columns: var(--row-columns);
    grid-gap: var(--column-gap);
}

.row__confirmTick {
    --height: 48px;
    --width: 55px;
    position: absolute;
    right: calc(var(--right-outside-list-row) - var(--width));
    cursor: pointer;
    border-radius: 50%;
    width: var(--width);
    height: var(--height);
    border: var(--input-border-size) dashed transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row__confirmTick:hover, .row__confirmTick:focus {
    border: var(--input-border);
    background-color: var(--color-alias-list-container);
    transition: var(--edit-transition);
    outline: none;
}

@keyframes pushed {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    40% {
        opacity: 1;
        transform: scale(.9);
    }

    80% {
        opacity: .8;
    }

    100% {
        opacity: 0;
        transform: scale(1.1);
    }
}

.row__confirmTick--doesNotHaveName {
    display: none;
}

.row__confirmTick--hidden {
    opacity: 0; 
    animation: .2s pushed;
}

.row__confirmTick--allwaysHidden {
    display: none;
}

/* Row Before Restock */
.row__beforeRestock.inputBox {
    --width: 106px;
    position: absolute;
    right: calc(var(--right-outside-list-row) - var(--width));
    width: var(--width);
    box-sizing: border-box;
    border: 1px solid var(--color-alias-quantity-unit-background);
}

/* InputBox */
.inputBox {
    height: var(--input-height);
    padding-left: var(--input-padding-left);
    font-size: var(--primary-font-size);
    border: none;
    background-color: var(--color-white);
}

.inputBox::placeholder {
    color: var(--color-alias-new-item-help-text);
}

.inputBox--covered {
    position: relative;
}

.inputBox--covered::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-grey-light);
    border: 1px solid var(--color-grey-dark);
    border-radius: 4px;
}

.inputBox__innerEdit {
    height: var(--quantity-edit-height);
    font-size: var(--primary-font-size);
    box-sizing: border-box;
    text-align: center;
    border: 1px solid transparent;
    min-width: 0;
}

.inputBox__innerEdit:hover, .inputBox__innerEdit:focus {
    transition: var(--edit-transition);
    border: var(--input-border);
    background-color: var(--color-alias-input-focus-background);
    outline: 0;
}

/* Quanitiy */
:root {
    --quantity-edit-height: 31px;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity__edit {
    flex: 1 1 0;
    margin: 0 4px;
}

.quantity__edit--excessive {
    color: var(--color-alias-quantity-excessive);
}

.quantity__unit {
    flex: 0 0 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-alias-quantity-unit-background);
    height: 100%;
    margin-left: auto;
}

.quantity__unit__innerEdit {
    flex: 1 1 0;
    width: 0;
    margin: 0 4px;
    background-color: var(--color-grey-light);
}

:root {
    --quanitiy-used-index: 0;
    --qaunitiy-bar-index: calc(var(--quanitiy-used-index) + 1);
}

/* Bar */
.bar {
    display: flex;
    position: relative;
    background-color: var(--color-white);
    height: var(--input-height);
}

.bar--hidden {
    display: none;
}

.bar__mainPercentage {
    position: relative;
    margin-left: auto;
    border-radius: var(--border-radius) 0 var(--border-radius) 0;
    z-index: var(--qaunitiy-bar-index);
}

.bar__mainPercentage__lever {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    width: 10px;
    opacity: 0;
    background-color: black;
    z-index: 2;
    cursor: ew-resize;
}

.bar__mainPercentage__lever:hover {
    opacity: .2;
}

.bar__used {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

/* Quantity Bar */
.bar__quantityUsed:hover {
    transition: var(--edit-transition);
    border: var(--input-border-size) dashed var(--color-blue-dark);
    background-color: var(--color-blue-light);
    cursor: pointer;
    z-index: var(--quanitiy-used-index);
}

.bar__quantityExcessive {
    background-color: var(--color-alias-quantity-excessive);
    z-index: var(--qaunitiy-bar-index);
    border-top-left-radius: var(--border-radius);
}

.bar__quantityRemaining {
    background-color: var(--color-alias-quantity-remaining);
}

.bar__quantityRemaining--excessive {
    border-top-left-radius: 0;
}

.bar__quantityRemaining--low {
    background-color: var(--color-alias-quantity-remaining-low);
}

.time {
    display: flex;
    align-items: center;
}

.time--hidden {
    display: none;
}

.time__helpText {
    color: var(--color-alias-new-item-help-text);
}

.time__input {
    flex: 1 1 0;
    width: 0;
    padding-left: 7px;
    margin-right: var(--input-padding-left);
    text-align: left;
}

/* Utility Classes */
.hidden {
    display: none;
}