:root {
    --color-black: #000;
    --color-grey: #f6f6f6;
    --color-white: #fff;

    --color-alias-header-main: var(--color-grey);
    --color-alias-list-container: var(--color-grey);
    --color-alias-input-background: var(--color-white);

    --primary-font-size: 18px;

    --row-gap: 23px;
    --column-gap: 13px;
    --input-padding-left: 16px;
}

body {
    margin: 0px;
    font-family: 'Roboto', Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-alias-header-main);
    height: 63px;
    padding: 0 52px;
}

.header__title {
    justify-self: center;
    height: 40px;
    width: 202px;
    border: none;
    font-size: var(--primary-font-size);
    border: none;
    text-align: center;
    margin-right: auto;
}

.header__logo {
    display: flex;
    align-items: center;
    font-size: var(--primary-font-size);
    border: none;
    font-weight: normal;
    margin-right: auto;
}

.header__logo__line {
    width: 1.5px;
    height: 40px;
    margin: 0 5px;
    background-color: var(--color-black);
}

.mainContent {
    display: flex;
    justify-content: center;
}

.listContainer {
    background-color: var(--color-alias-list-container);
    width: 740px;
    padding: 32px 42px;
    border-radius: 5px;
    margin-top: 70px;
    list-style-type: none;
    display: grid;
    grid-gap: var(--row-gap);
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: var(--column-gap);
}

.inputDropdownCombo {
    display: grid;
    grid-template-columns: 1fr 30px;
}

.inputDropdownCombo__input {
    height: 48px;
    padding-left: var(--input-padding-left);
    font-size: var(--primary-font-size);
    border: none;
}

.inputDropdownCombo__arrow {
    background-color: var(--color-alias-input-background);
}